


<div class="post-body" >
 
 <div class="post-content">
 
   <div class="post-container">
        <input type="hidden" id="post-id" value="{{id}}" />
     <div class="titleName">
       
       
       
       <h2 class="postText"> <a class="forNow" href="/post/{{id}}">|{{title}}</a></h2>
 
     </div>
     <div class="post-detail">
       <div class="user-info">
         <h3 class="text-muted">{{format_date date_created}}</h3>
       </div>
     
       <div class="post-text">
         <p class="postContent">{{content}}</p>
       </div>
     <div> <h2>where?</h2></div>
       {{!-- api stuff here --}}
     {{!-- api stuff here --}}
     <div>{{location}}</div>
       {{!-- api stuff here --}}
         {{!-- api stuff here --}}
        <div> <p>-comments-</p></div>
       {{#each comments}}
           <div>
             <div >
              
              <h3 class="profile-link commentU">{{username}} |</h3>
            
              <h5 >{{commentary}}</h5>
             </div>
        
           
             {{#if isMine}}
               <button class="delete-reply dBtns" data-comment-id="{{id}}">  Delete Comment</button>
             {{/if}}
 
           </div>
         {{/each}}
        
         <form class="reply-form" data-post-id="{{id}}">
           <input name="commentary" type="text" />
           <button class="int-post">Reply</button>
         </form>
         {{#unless isMine}}
    <div>
      <button
         class="interested-btn int-post"
        data-post-id=“{{id}}”
      >Interested</button></div>
  {{/unless}}
           <div> <button class="int-post" id="interestedBtn ">Interested</button></div>
       <div class="line-divider"></div>
      
     
     
         {{#if isMine}}
          <div class="dBtn">
             <button class="delete-post dBtns" data-post-id="{{id}}">Delete Post</button>
             </div>
           {{/if}}
     </div>
   </div>
 </div>
  
</li>
 
 
