<form id="event-form">
  <input name="title" placeholder="Event Name" />
  <input name="content" placeholder="Event Description" />
  <input name="location" placeholder="Location" />
  <button>Create Event</button>
</form>

<ul class="post-list">
  {{#each post}}

    <li class="post-list-item">
      <div style="display: flex;">
        <input type="hidden" id="post-id" value="{{id}}" />
        <h2>{{title}}</h2>
        {{#if isMine}}
          <button class="delete-post" data-post-id="{{id}}">x</button>
        {{/if}}
      </div>
      <div>{{content}}</div>
      <div>{{format_date date_created}}</div>
      <div><p>{{location}}</p></div>

      {{#each comments}}
        <div>
          {{commentary}}-{{username}}
          {{#if isMine}}
            <button class="delete-reply" data-comment-id="{{id}}">x</button>
          {{/if}}

        </div>
      {{/each}}
      <form class="reply-form" data-post-id="{{id}}">
        <input name="commentary" type="text" />
        <button>Reply</button>
      </form>

    </li>

  {{/each}}
</ul>

<div><h1>Events that interested you</h1></div>
{{#if interested}}
   <li class="post-list-item">
      <div style="display: flex;">
        <input type="hidden" id="post-id" value="{{id}}" />
        <h2>{{title}}</h2>
        {{#if isMine}}
          <button class="delete-post" data-post-id="{{id}}">x</button>
        {{/if}}
      </div>
      <div>{{content}}</div>
      <div>{{format_date date_created}}</div>
      <div><p>{{location}}</p></div>

      {{#each comments}}
        <div>
          {{commentary}}-{{username}}
          {{#if isMine}}
            <button class="delete-reply" data-comment-id="{{id}}">x</button>
          {{/if}}

        </div>
      {{/each}}
      <form class="reply-form" data-post-id="{{id}}">
        <input name="commentary" type="text" />
        <button>Reply</button>
      </form>
{{/if}}

<br />

<script src="/js/event.js"></script>