<ul class="post-list">
    {{#each post}}
<div class="post-body" data-backgroundH="backgroundH">
  <div></div>

  <div class="post-content">

    <div class="post-container">
         <input type="hidden" id="post-id" value="{{id}}" />
      <div class="titleName">
        <h1 class="postUser"> User name |</h1>
         
          <h1 class="postText">{{title}} |</h1>
        

      </div>
      <div class="post-detail">
        <div class="user-info">
          <h3 class="text-muted">{{format_date date_created}}</h3>
        </div>
       
        <div class="post-text">
          <p class="postContent">{{content}}</p>
        </div>
      <div> <h2>where?</h2></div>
        {{!-- api stuff here --}}
      {{!-- api stuff here --}}
      <div>{{location}}</div>
        {{!-- api stuff here --}}
          {{!-- api stuff here --}}
         <div> <p>-comments-</p></div>
        {{#each comments}}
            <div>
              <div >
                
               <h3 class="profile-link commentU">{{username}} |</h3>
              
               <h5 >{{commentary}}</h5>
              </div>
          
             
              {{#if isMine}}
                <button class="delete-reply dBtns" data-comment-id="{{id}}">  Delete Comment</button>
              {{/if}}

            </div>
          {{/each}}
          
          <form class="reply-form" data-post-id="{{id}}">
            <input name="commentary" type="text" />
            <button class="int-post">Reply</button>
          </form>
            <div> <button class="int-post" id="interestedBtn ">Interested</button></div>
        <div class="line-divider"></div>
        
       
       
          {{#if isMine}}
           <div class="dBtn">
              <button class="delete-post dBtns" data-post-id="{{id}}">Delete Post</button>
              </div>
            {{/if}}
      </div>
    </div>
  </div>
      {{/each}}
  </ul> 
  {{!-- <ul class="post-list">
    {{#each post}}
      <div class="postCard">
        <li class="post-list-item">

          <input type="hidden" id="post-id" value="{{id}}" />
          <container class="justPost">
            <div class="topPost">
              <h1 class="titlePost">post user</h1>
              <h1 class="titlePost">{{title}}</h1>
            </div>

            {{#if isMine}}
              <button class="delete-post" data-post-id="{{id}}">x</button>
            {{/if}}

            <div>{{content}}</div>
            <div>{{format_date date_created}}</div>
            <div><p>{{location}}</p></div>
            <div> <button id="interestedBtn">interested</button></div>
          </container>
          {{#each comments}}
            <div>
              {{commentary}}-{{username}}
              {{#if isMine}}
                <button class="delete-reply" data-comment-id="{{id}}">x</button>
              {{/if}}

            </div>
          {{/each}}
          <form class="reply-form" data-post-id="{{id}}">
            <input name="commentary" type="text" />
            <button>Reply</button>
          </form>

        </li>
      </div>
    {{/each}}
  </ul> --}}
</div>

<script src="/js/comment.js"></script>
<script src="/js/event.js"></script>
<script src="/js/interested.js"></script>